In [39]:
import pandas as pd
url = 'https://github.com/mattharrison/datasets/raw/master/data/vehicles.csv.zip' 
df = pd.read_csv(url)
city_mpg = df.city08
highway_mpg = df.highway08

/tmp/ipykernel_2031/3103446029.py:3: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [40]:
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64

In [41]:
highway_mpg

0        25
1        14
2        33
3        12
4        23
         ..
41139    26
41140    28
41141    24
41142    24
41143    21
Name: highway08, Length: 41144, dtype: int64

In [42]:
len(dir(city_mpg))

420

In [43]:
(city_mpg + highway_mpg )/2

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: float64

In [44]:
city_mpg.mean()

18.369045304297103

In [45]:
city_mpg.is_monotonic_increasing

False

In [46]:
city_mpg.quantile(0.9)
city_mpg.quantile([.1, .5, .9])
city_mpg.gt(20).sum()
city_mpg.eq(20).mul(100).mean()

5.60470542484931

In [47]:
city_mpg.agg('mean')

18.369045304297103

In [48]:
import numpy as np
def second_to_last(x):
    return x.iloc[-2]

city_mpg.agg(['mean', np.var, max, second_to_last])

mean               18.369045
var                62.503036
max               150.000000
second_to_last     18.000000
Name: city08, dtype: float64

In [49]:
stock_df = pd.read_csv('/home/jose/VSCodeProjects/pandas/National_Stock_Exchange_of_India_Ltd.csv')
stock_df['Symbol'].count()
stock_df['Symbol'].size
stock_df['30 d % chng'].agg(['count', 'size', 'nunique', 'mean', 'max'])

FileNotFoundError: [Errno 2] No such file or directory: '/home/jose/VSCodeProjects/pandas/National_Stock_Exchange_of_India_Ltd.csv'

# Conversion methods

## Automatic conversion

In [ ]:
city_mpg.convert_dtypes()

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: Int64

In [ ]:
city_mpg.astype('Int16')

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: Int16

**The max value for Int8 is 150 and we have values over that so this will not work.**

In [ ]:
city_mpg.astype('Int8')

TypeError: cannot safely cast non-equivalent int64 to int8

Here is how we can see max value types.

In [ ]:
np.iinfo('int64')

iinfo(min=-9223372036854775808, max=9223372036854775807, dtype=int64)

In [ ]:
np.iinfo('uint8')

iinfo(min=0, max=255, dtype=uint8)

In [ ]:
np.finfo('float16')

finfo(resolution=0.001, min=-6.55040e+04, max=6.55040e+04, dtype=float16)

In [ ]:
np.finfo('float64')

finfo(resolution=1e-15, min=-1.7976931348623157e+308, max=1.7976931348623157e+308, dtype=float64)

## Memory usage

In [ ]:
city_mpg.nbytes

329152

In [ ]:
city_mpg.astype('Int16').nbytes

123432

In [ ]:
make = df.make
make.nbytes

329152

In [ ]:
make.memory_usage()

329280

## String and category types

In [ ]:
city_mpg.astype(str)

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: object

In [ ]:
city_mpg.astype('category')

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: category
Categories (105, int64): [6, 7, 8, 9, ..., 137, 138, 140, 150]

## Ordered Categories

In [ ]:
values = pd.Series(sorted(set(city_mpg)))
city_type = pd.CategoricalDtype(categories=values, ordered=True)
city_mpg.astype(city_type)

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: category
Categories (105, int64): [6 < 7 < 8 < 9 ... 137 < 138 < 140 < 150]

## Converting to other types
We can convert Series objects back into DataFrames.

In [ ]:
city_mpg.to_frame()

       city08
0          19
1           9
2          23
3          10
4          17
...       ...
41139      19
41140      20
41141      18
41142      18
41143      16

[41144 rows x 1 columns]

### Exercises
1. Convert a numeric column to a smaller type.

In [ ]:
workouts_df = pd.read_csv('/home/jose/VSCodeProjects/pandas/effective-pandas/workouts.csv')
workouts_df['Calories Burned'].fillna(0).astype('int32')

0       19
1        2
2      100
3      151
4      100
      ...
749    105
750    293
751     47
752     30
753    202
Name: Calories Burned, Length: 754, dtype: int32

2. Calculate the memory savings by converting to smaller numeric types.

In [ ]:
calories = workouts_df['Calories Burned']
calories.nbytes

6400

In [ ]:
calories.memory_usage()

6528

In [ ]:
workouts_df['Calories Burned'].fillna(0).astype('int32').memory_usage()

3328

3. Convert a string column into a categorical type.

In [ ]:
workouts_df['Instructor Name'].fillna('Unknown').astype('str')

0           Olivia Amato
1            Cody Rigsby
2              Jess Sims
3       Matty Maggiacomo
4             Ben Alldis
             ...
795            Rad Lopez
796    Callie Gullickson
797            Rad Lopez
798       Selena Samuela
799         Olivia Amato
Name: Instructor Name, Length: 800, dtype: object

In [ ]:
workouts_df['Instructor Name'].fillna('Unknown').astype('category')

0           Olivia Amato
1            Cody Rigsby
2              Jess Sims
3       Matty Maggiacomo
4             Ben Alldis
             ...
795            Rad Lopez
796    Callie Gullickson
797            Rad Lopez
798       Selena Samuela
799         Olivia Amato
Name: Instructor Name, Length: 800, dtype: category
Categories (43, object): ['Aditi Shah', 'Adrian Williams', 'Alex Toussaint', 'Ally Love', ..., 'Sam Yo', 'Selena Samuela', 'Tunde Oyeneyin', 'Unknown']

4. Calculate the memory savings by converting to a categorical type.

In [ ]:
workouts_df['Instructor Name'].fillna('Unknown').astype('str').memory_usage()

6528

In [ ]:
workouts_df['Instructor Name'].fillna('Unknown').astype('category').memory_usage()

2344

# Chapter 8: Conversion Methods
## Automatic conversion

In [ ]:
city_mpg.convert_dtypes()

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: Int64

In [ ]:
city_mpg.astype('Int16')

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: Int16

Converting to Int8 not possible because we have values over 150.

In [ ]:
city_mpg.astype('Int8')

TypeError: cannot safely cast non-equivalent int64 to int8

### Limits on integers and floats

In [ ]:
np.iinfo('int64')

iinfo(min=-9223372036854775808, max=9223372036854775807, dtype=int64)

In [ ]:
np.iinfo('uint8')

iinfo(min=0, max=255, dtype=uint8)

In [ ]:
np.finfo('float16')

finfo(resolution=0.001, min=-6.55040e+04, max=6.55040e+04, dtype=float16)

In [ ]:
np.finfo('float64')

finfo(resolution=1e-15, min=-1.7976931348623157e+308, max=1.7976931348623157e+308, dtype=float64)

## Memory Usage

In [ ]:
city_mpg.nbytes

329152

In [ ]:
city_mpg.astype('Int16').nbytes

123432

In [ ]:
make = df.make
make.nbytes

329152

nbytes only shows how much memory the Pandas object takes up. To get amount of memory including the strings, we use .memory_usage.

In [ ]:
make.memory_usage()

329280

In [ ]:
make.memory_usage(deep=True)

2606395

## String and Category Types

In [ ]:
city_mpg.astype(str)

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: object

Converting to categorical data has large memory savings because pandas stores Python strings when you have string data.

In [ ]:
city_mpg.astype('category')

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: category
Categories (105, int64): [6, 7, 8, 9, ..., 137, 138, 140, 150]

## Ordered categories

To create ordered categories, define your own CategoricalDtype:

In [ ]:
values = pd.Series(sorted(set(city_mpg)))
city_type = pd.CategoricalDtype(categories=values, ordered=True)
city_mpg.astype(city_type)

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: category
Categories (105, int64): [6 < 7 < 8 < 9 ... 137 < 138 < 140 < 150]

## Converting to Other Types
Stay away from using .to_numpy and .to_list. It can slow down code significantly.

We can convert a single column series into a dataframe

In [ ]:
city_mpg.to_frame()

       city08
0          19
1           9
2          23
3          10
4          17
...       ...
41139      19
41140      20
41141      18
41142      18
41143      16

[41144 rows x 1 columns]

## Exercises

1. Convert a numeric column to a smaller type.

In [ ]:
workouts_df.loc[workouts_df['Length (minutes)'] == 'None', 'Length (minutes)'] = 0
workouts_df['Length (minutes)'].astype('uint8')

0      15
1      10
2      20
3      30
4      20
       ..
749    10
750    20
751     5
752     5
753    20
Name: Length (minutes), Length: 754, dtype: uint8

2. Calculate the memory savings by converting to smaller numeric types

In [ ]:
workouts_df['Length (minutes)'].memory_usage()

6160

In [ ]:
workouts_df.loc[workouts_df['Length (minutes)'] == 'None', 'Length (minutes)'] = 0
workouts_df['Length (minutes)'].astype('uint8').memory_usage()

882

3. Convert a string column into a categorical type.

In [ ]:
workouts_df['Instructor Name'].astype('category')

0           Olivia Amato
1            Cody Rigsby
2              Jess Sims
3       Matty Maggiacomo
4             Ben Alldis
             ...
749            Rad Lopez
750         Camila Ramon
751       Alex Toussaint
752       Daniel McKenna
753    Callie Gullickson
Name: Instructor Name, Length: 754, dtype: category
Categories (42, object): ['Aditi Shah', 'Adrian Williams', 'Alex Toussaint', 'Ally Love', ..., 'Ross Rayburn', 'Sam Yo', 'Selena Samuela', 'Tunde Oyeneyin']

4. Calculate the memory savings by converting to a categorical type.

In [ ]:
workouts_df['Instructor Name'].astype('category').memory_usage()

2290

In [ ]:
workouts_df['Instructor Name'].memory_usage(deep=True)

51802

# Chapter 9 Manipulation Methods

## 9.1 .apply and .where

*Note: using apply breakd out the dataframe into individual values in the series which makes it slow.*

In [ ]:
def gt20(val):
    return val > 20

%timeit city_mpg.apply(gt20)

18.7 ms Â± 200 Âµs per loop (mean Â± std. dev. of 7 runs, 10 loops each)

In [ ]:
%timeit city_mpg.gt(20)

146 Âµs Â± 1.15 Âµs per loop (mean Â± std. dev. of 7 runs, 10000 loops each)

Replace makes in dataset that arent in top 5.

In [ ]:
make = df.make
make.value_counts()

Chevrolet                      4003
Ford                           3371
Dodge                          2583
GMC                            2494
Toyota                         2071
                               ...
Volga Associated Automobile       1
Panos                             1
Mahindra                          1
Excalibur Autos                   1
London Coach Co Inc               1
Name: make, Length: 136, dtype: int64

In [ ]:
top5 = make.value_counts().index[:5]
def generalize_make(val):
    if val in top5:
        return val
    return 'Other'
%timeit make.apply(generalize_make)

48.5 ms Â± 316 Âµs per loop (mean Â± std. dev. of 7 runs, 10 loops each)

.where uses a boolean array to mark where a condition is true

In [ ]:
%timeit make.where(make.isin(top5), 'Other')

1.96 ms Â± 27.8 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

The complement of the where method is the mask method. This takes the condition wherever it is False and keeps the original values.
*Note: it is better to use .where and ignore mask since it is the complement.*

In [ ]:
%timeit make.mask(~make.isin(top5), 'Other')

2.14 ms Â± 36.2 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

## 9.3 Missing Data

In [ ]:
cyl = df.cylinders
cyl.isna().sum()

206

In [ ]:
missing = cyl.isna()

In [ ]:
make.loc[missing]

7138     Nissan
7139     Toyota
8143     Toyota
8144       Ford
8146       Ford
          ...
34563     Tesla
34564     Tesla
34565     Tesla
34566     Tesla
34567     Tesla
Name: make, Length: 206, dtype: object

## 9.4 Filling in missing data

In [ ]:
cyl[cyl.isna()]

7138    NaN
7139    NaN
8143    NaN
8144    NaN
8146    NaN
         ..
34563   NaN
34564   NaN
34565   NaN
34566   NaN
34567   NaN
Name: cylinders, Length: 206, dtype: float64

In [ ]:
cyl.fillna(0).loc[7136:7141]

7136    6.0
7137    6.0
7138    0.0
7139    0.0
7140    6.0
7141    6.0
Name: cylinders, dtype: float64

## 9.5 Interpolating Data

In [ ]:
temp = pd.Series([32, 40, None, 42, 39, 32])
temp

0    32.0
1    40.0
2     NaN
3    42.0
4    39.0
5    32.0
dtype: float64

In [ ]:
temp.interpolate()

0    32.0
1    40.0
2    41.0
3    42.0
4    39.0
5    32.0
dtype: float64

## 9.6 Clipping Data

In [ ]:
city_mpg.loc[:446]

0      19
1       9
2      23
3      10
4      17
       ..
442    15
443    15
444    15
445    15
446    31
Name: city08, Length: 447, dtype: int64

In [ ]:
city_mpg.loc[:446].clip(lower=city_mpg.quantile(0.05), upper=city_mpg.quantile(0.95))

0      19.0
1      11.0
2      23.0
3      11.0
4      17.0
       ...
442    15.0
443    15.0
444    15.0
445    15.0
446    27.0
Name: city08, Length: 447, dtype: float64

## 9.7 Sorting values

In [ ]:
city_mpg.sort_values()

7901       6
34557      6
37161      6
21060      6
35887      6
        ...
34563    138
34564    140
32599    150
31256    150
33423    150
Name: city08, Length: 41144, dtype: int64

In [ ]:
(city_mpg.sort_values() + highway_mpg) / 2

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: float64

## 9.8 Sorting the index

In [ ]:
city_mpg.sort_values().sort_index()

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64

## 9.9 Dropping Duplicates

In [ ]:
city_mpg.drop_duplicates()

0         19
1          9
2         23
3         10
4         17
        ...
34364    127
34409    114
34564    140
34565    115
34566    104
Name: city08, Length: 105, dtype: int64

## 9.10 Ranking Data

In [ ]:
city_mpg.rank()

0        27060.5
1          235.5
2        35830.0
3          607.5
4        19484.0
          ...
41139    27060.5
41140    29719.5
41141    23528.0
41142    23528.0
41143    15479.0
Name: city08, Length: 41144, dtype: float64

In [ ]:
city_mpg.rank(method='min')

0        25555.0
1          136.0
2        35119.0
3          336.0
4        17467.0
          ...
41139    25555.0
41140    28567.0
41141    21502.0
41142    21502.0
41143    13492.0
Name: city08, Length: 41144, dtype: float64

In [ ]:
city_mpg.rank(method='dense')

0        14.0
1         4.0
2        18.0
3         5.0
4        12.0
         ...
41139    14.0
41140    15.0
41141    13.0
41142    13.0
41143    11.0
Name: city08, Length: 41144, dtype: float64

## 9.11 Replacing Data

In [ ]:
make = df.make
make.replace('Subaru', 'ã‚¹ãƒãƒ«')

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4               ã‚¹ãƒãƒ«
            ...
41139           ã‚¹ãƒãƒ«
41140           ã‚¹ãƒãƒ«
41141           ã‚¹ãƒãƒ«
41142           ã‚¹ãƒãƒ«
41143           ã‚¹ãƒãƒ«
Name: make, Length: 41144, dtype: object

In [ ]:
make.replace(r'(Fer)ra(r.*)' , value=r'\2-other-\1', regex=True)

0          Alfa Romeo
1        ri-other-Fer
2               Dodge
3               Dodge
4              Subaru
             ...
41139          Subaru
41140          Subaru
41141          Subaru
41142          Subaru
41143          Subaru
Name: make, Length: 41144, dtype: object

## 9.12 Binning Data

We can create bin values of equal width.

In [ ]:
pd.cut(city_mpg, 10)

0        (5.856, 20.4]
1        (5.856, 20.4]
2         (20.4, 34.8]
3        (5.856, 20.4]
4        (5.856, 20.4]
             ...
41139    (5.856, 20.4]
41140    (5.856, 20.4]
41141    (5.856, 20.4]
41142    (5.856, 20.4]
41143    (5.856, 20.4]
Name: city08, Length: 41144, dtype: category
Categories (10, interval[float64, right]): [(5.856, 20.4] < (20.4, 34.8] < (34.8, 49.2] < (49.2, 63.6] ... (92.4, 106.8] < (106.8, 121.2] < (121.2, 135.6] < (135.6, 150.0]]

If you have specific sizes for bin edges, you can specify those. In the following example five
bins are created (so you need to provide six edges)

In [ ]:
pd.cut(city_mpg, [0, 10, 20, 40, 70, 150])

0        (10, 20]
1         (0, 10]
2        (20, 40]
3         (0, 10]
4        (10, 20]
           ...
41139    (10, 20]
41140    (10, 20]
41141    (10, 20]
41142    (10, 20]
41143    (10, 20]
Name: city08, Length: 41144, dtype: category
Categories (5, interval[int64, right]): [(0, 10] < (10, 20] < (20, 40] < (40, 70] < (70, 150]]

We can also bin data with quantities. The example below creates 10 bins with approximately the same number of entries in each bin.

In [ ]:
pd.qcut(city_mpg, 10)

0         (18.0, 20.0]
1        (5.999, 13.0]
2         (21.0, 24.0]
3        (5.999, 13.0]
4         (16.0, 17.0]
             ...
41139     (18.0, 20.0]
41140     (18.0, 20.0]
41141     (17.0, 18.0]
41142     (17.0, 18.0]
41143     (15.0, 16.0]
Name: city08, Length: 41144, dtype: category
Categories (10, interval[float64, right]): [(5.999, 13.0] < (13.0, 14.0] < (14.0, 15.0] < (15.0, 16.0] ... (18.0, 20.0] < (20.0, 21.0] < (21.0, 24.0] < (24.0, 150.0]]

We can also label the categorical intervals.

In [ ]:
pd.qcut(city_mpg, 10, labels=list(range(1, 11)))

0        7
1        1
2        9
3        1
4        5
        ..
41139    7
41140    7
41141    6
41142    6
41143    4
Name: city08, Length: 41144, dtype: category
Categories (10, int64): [1 < 2 < 3 < 4 ... 7 < 8 < 9 < 10]

## 9.14 Exercises
1. Create a series from a numeric column that has the value of 'high' if it is equal to or above
the mean and 'low' if it is below the mean using .apply.

In [ ]:
workouts_df['Total Output'].apply(lambda x: 'Low' if x < workouts_df['Total Output'].mean() else 'High')

0      High
1      High
2      High
3      High
4      High
       ...
795    High
796    High
797    High
798    High
799    High
Name: Total Output, Length: 800, dtype: object

2. Create a series from a numeric column that has the value of 'high' if it is equal to or above the mean and 'low' if it is below the mean using np.select.

In [ ]:
condlist = [workouts_df['Total Output'] < workouts_df['Total Output'].mean(), workouts_df['Total Output'] > workouts_df['Total Output'].mean()]
choicelist = ['Low', 'High']
np.select(condlist, choicelist)

array(['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', 'Low',
       'Low', 'High', '0', 'Low', 'Low', '0', '0', 'High', 'Low', '0',
       '0', '0', 'Low', 'Low', '0', 'Low', 'Low', 'Low', '0', '0', '0',
       'High', 'Low', 'Low', '0', '0', '0', '0', 'High', 'Low', '0',
       'High', 'Low', '0', '0', '0', 'Low', 'Low', 'Low', '0', 'Low',
       'Low', 'Low', '0', '0', '0', '0', 'High', 'Low', '0', '0', '0',
       'High', 'Low', '0', 'Low', 'High', 'Low', '0', '0', '0', 'Low',
       'High', 'Low', '0', 'High', 'Low', '0', 'High', 'Low', '0', 'Low',
       'Low', 'High', 'Low', 'Low', '0', '0', '0', 'Low', 'High', 'Low',
       '0', '0', '0', 'High', 'Low', 'Low', '0', '0', '0', '0', 'High',
       'Low', '0', 'High', 'Low', '0', '0', '0', 'High', 'Low', '0',
       'High', 'Low', '0', '0', '0', '0', '0', '0', '0', '0', '0', 'High',
       'Low', '0', 'High', 'Low', '0', 'Low', 'Low', 'High', 'Low', '0',
       '0', 'High', 'Low', '0', 'High', 'Low', '0', 'High', 'Low', '0',
       'High', 'Low', '0', 'High', 'Low', '0', 'High', '0', '0', '0',
       'High', 'Low', '0', 'High', 'Low', '0', 'High', 'Low', '0', '0',
       '0', 'High', 'Low', '0', 'High', 'Low', '0', 'High', 'Low', '0',
       'Low', 'Low', '0', 'High', 'Low', '0', 'High', 'Low', '0', '0',
       'High', 'Low', '0', 'High', 'Low', 'High', 'Low', 'High', 'High',
       'High', 'Low', '0', 'High', 'Low', 'High', 'Low', 'High', 'Low',
       '0', '0', 'High', 'High', 'High', 'High', 'Low', 'Low', 'High',
       'Low', '0', 'High', 'Low', '0', 'High', 'Low', '0', '0', '0',
       'Low', 'High', 'Low', '0', '0', '0', 'Low', 'Low', '0', '0', '0',
       'Low', 'Low', '0', '0', '0', 'Low', 'High', 'Low', 'High', 'Low',
       '0', 'Low', '0', '0', 'High', 'Low', '0', '0', 'High', 'Low',
       'High', 'High', 'Low', '0', 'High', 'Low', 'High', 'Low', 'High',
       'Low', 'High', 'Low', '0', '0', '0', '0', 'Low', 'High', 'Low',
       '0', 'High', '0', '0', 'High', 'High', '0', '0', '0', 'Low',
       'High', 'Low', '0', '0', 'High', 'Low', 'High', 'Low', '0', '0',
       '0', 'High', 'Low', 'High', 'Low', '0', '0', '0', 'High', 'Low',
       '0', '0', '0', '0', '0', '0', '0', '0', 'High', 'Low', '0', '0',
       '0', '0', '0', 'High', 'Low', '0', '0', 'High', '0', '0', '0', '0',
       'High', '0', '0', '0', '0', '0', '0', '0', 'High', 'Low', '0', '0',
       '0', '0', '0', 'High', 'Low', '0', '0', '0', '0', '0', 'High', '0',
       '0', '0', '0', '0', 'High', '0', '0', '0', '0', 'Low', 'Low', '0',
       'Low', '0', '0', '0', '0', '0', 'High', 'Low', '0', 'High', 'Low',
       '0', '0', 'High', 'Low', '0', '0', '0', 'High', 'Low', 'High', '0',
       '0', '0', '0', 'High', '0', '0', '0', '0', '0', 'High', 'Low', '0',
       '0', '0', '0', 'High', 'Low', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', 'High',
       'Low', '0', '0', '0', 'High', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', 'High', '0', '0', '0', '0', '0', '0',
       '0', 'High', 'Low', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', 'High', '0', '0', '0', 'High', 'Low', '0', '0', '0', '0', '0',
       '0', 'High', '0', '0', '0', '0', '0', '0', 'High', 'Low', '0', '0',
       'High', '0', '0', '0', '0', '0', '0', 'High', '0', '0', '0', '0',
       'High', '0', '0', '0', '0', '0', '0', 'High', 'High', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       'High', '0', '0', '0', '0', '0', '0', '0', 'High', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', 'High', 'Low', '0', '0', 'High', '0',
       '0', 'High', 'Low', '0', '0', '0', '0', '0', '0', '0', '0', 'High',
       'Low', '0', '0', 'High', '0', '0', '0', 'High', 'Low', '0', '0',
       '0', '0', 'High', '0', '0', '0', 'High', '0', '0', 'High', '0',
       '0', 'High', '0', '0', '0', '0', '0', '0', 'High', 'Low', 'Low',
       '0', '0', 'Low', '0', '0', 'High', '0', '0', 'High', '0', '0',
       'High', '0', '0', '0', 'High', 'High', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', 'High', '0', '0', '0', 'High', '0', '0',
       '0', 'High', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', 'High', 'Low', '0', '0', '0', '0', '0', 'Low',
       'High', '0', '0', '0', 'Low', 'High', '0', '0', 'High', '0', '0',
       '0', '0', '0', '0', 'High', '0', '0', 'Low', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', 'Low',
       '0', '0', 'High', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', 'High', '0', '0', '0', '0', '0', '0', '0', 'Low', 'High',
       '0', '0', '0', 'Low', '0', '0', '0', '0', '0', '0', 'High', 'Low',
       '0', '0', '0', '0', 'High', '0', '0', 'High', '0', '0', '0', '0',
       'High', '0', 'High', 'High', '0', '0', 'High', 'Low', '0', '0',
       'High', '0', '0', '0', '0', 'High', '0', '0', '0', 'High', '0',
       '0', '0', '0', 'High', '0', '0', '0', 'High', '0', '0', 'High',
       '0', '0', '0', '0', '0', '0', '0', '0', 'High', '0', '0', 'High',
       '0', '0', 'High', '0', '0', 'High', '0', '0', '0', '0', '0',
       'High'], dtype='<U21')

3. Time the differences between the previous two solutions to see which is faster.

In [ ]:
%timeit np.select(condlist, choicelist)

34.8 Âµs Â± 2.04 Âµs per loop (mean Â± std. dev. of 7 runs, 10000 loops each)

In [ ]:
%timeit workouts_df['Total Output'].apply(lambda x: 'Low' if x < workouts_df['Total Output'].mean() else 'High')

17.9 ms Â± 1e+03 Âµs per loop (mean Â± std. dev. of 7 runs, 10 loops each)

4. Replace the missing values of a numeric series with the median value.

In [ ]:
workouts_df['Total Output'].replace(to_replace=np.nan, value=workouts_df['Total Output'].median())

0      155.0
1      155.0
2      155.0
3      155.0
4      155.0
       ...
795    155.0
796    155.0
797    155.0
798    155.0
799    207.0
Name: Total Output, Length: 800, dtype: float64

5. Clip the values of a numeric series to between to 10th and 90th percentiles.

In [ ]:
workouts_df['Calories Burned'].clip(lower=workouts_df['Calories Burned'].quantile(0.05), upper=workouts_df['Calories Burned'].quantile(0.95))

0       27.55
1       27.55
2      100.00
3      151.00
4      100.00
        ...
795     70.00
796     27.55
797    148.00
798     32.00
799    278.00
Name: Calories Burned, Length: 800, dtype: float64

In [ ]:
workouts_df['Calories Burned']

0       19.0
1        2.0
2      100.0
3      151.0
4      100.0
       ...
795     70.0
796     22.0
797    148.0
798     32.0
799    278.0
Name: Calories Burned, Length: 800, dtype: float64

6. Using a categorical column, replace any value that is not in the top 5 most frequent values
with 'Other'.

In [ ]:
workouts_df['Instructor Name'].astype('category').replace(to_replace=workouts_df['Instructor Name'].value_counts().index.tolist()[:5], value='Other')

0                  Other
1            Cody Rigsby
2              Jess Sims
3                  Other
4                  Other
             ...
795                Other
796    Callie Gullickson
797                Other
798       Selena Samuela
799                Other
Name: Instructor Name, Length: 800, dtype: category
Categories (38, object): ['Aditi Shah', 'Adrian Williams', 'Alex Toussaint', 'Ally Love', ..., 'Ross Rayburn', 'Sam Yo', 'Selena Samuela', 'Tunde Oyeneyin']

7. Using a categorical column, replace any value that is not in the top 10 most frequent values
with 'Other'.

In [ ]:
workouts_df['Instructor Name'].astype('category').replace(to_replace=workouts_df['Instructor Name'].value_counts().index.tolist()[:10], value='Other')

0                  Other
1            Cody Rigsby
2              Jess Sims
3                  Other
4                  Other
             ...
795                Other
796    Callie Gullickson
797                Other
798                Other
799                Other
Name: Instructor Name, Length: 800, dtype: category
Categories (33, object): ['Aditi Shah', 'Adrian Williams', 'Alex Toussaint', 'Andy Speer', ..., 'Rebecca Kennedy', 'Robin Arzon', 'Ross Rayburn', 'Tunde Oyeneyin']

8. Make a function that takes a categorical series and a number (n) and returns a replace series that replaces any value that is not in the top n most frequent values with 'Other'.

In [ ]:
def replace_not_top_n(series: pd.Series, n: int) -> pd.Series:
    return series.astype('category').replace(to_replace=series.value_counts().index.tolist()[:n], value='Other')

replace_not_top_n(workouts_df['Instructor Name'], 10)

0                  Other
1            Cody Rigsby
2              Jess Sims
3                  Other
4                  Other
             ...
795                Other
796    Callie Gullickson
797                Other
798                Other
799                Other
Name: Instructor Name, Length: 800, dtype: category
Categories (33, object): ['Aditi Shah', 'Adrian Williams', 'Alex Toussaint', 'Andy Speer', ..., 'Rebecca Kennedy', 'Robin Arzon', 'Ross Rayburn', 'Tunde Oyeneyin']

9. Using a numeric column, bin it into 10 groups that have the same width.

In [ ]:
pd.cut(workouts_df['Calories Burned'], 10)

0      (-0.989, 98.9]
1      (-0.989, 98.9]
2       (98.9, 197.8]
3       (98.9, 197.8]
4       (98.9, 197.8]
            ...
795    (-0.989, 98.9]
796    (-0.989, 98.9]
797     (98.9, 197.8]
798    (-0.989, 98.9]
799    (197.8, 296.7]
Name: Calories Burned, Length: 800, dtype: category
Categories (10, interval[float64, right]): [(-0.989, 98.9] < (98.9, 197.8] < (197.8, 296.7] < (296.7, 395.6] ... (593.4, 692.3] < (692.3, 791.2] < (791.2, 890.1] < (890.1, 989.0]]

10. Using a numeric column, bin it into 10 groups that have equal sized bins.

In [ ]:
pd.qcut(workouts_df['Calories Burned'], 10)

0      (-0.001, 34.0]
1      (-0.001, 34.0]
2       (81.4, 126.0]
3      (126.0, 190.6]
4       (81.4, 126.0]
            ...
795      (60.0, 81.4]
796    (-0.001, 34.0]
797    (126.0, 190.6]
798    (-0.001, 34.0]
799    (247.7, 322.6]
Name: Calories Burned, Length: 800, dtype: category
Categories (10, interval[float64, right]): [(-0.001, 34.0] < (34.0, 53.0] < (53.0, 60.0] < (60.0, 81.4] ... (190.6, 247.7] < (247.7, 322.6] < (322.6, 397.9] < (397.9, 989.0]]

# Chapter 10: Indexing Operations

We can pass in a dictionary to map the previous index label to the new label:

In [ ]:
city2 = city_mpg.rename(make.to_dict())
city2

Alfa Romeo    19
Ferrari        9
Dodge         23
Dodge         10
Subaru        17
              ..
Subaru        19
Subaru        20
Subaru        18
Subaru        18
Subaru        16
Name: city08, Length: 41144, dtype: int64

We can view the index

In [ ]:
city2.index

Index(['Alfa Romeo', 'Ferrari', 'Dodge', 'Dodge', 'Subaru', 'Subaru', 'Subaru',
       'Toyota', 'Toyota', 'Toyota',
       ...
       'Saab', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Subaru', 'Subaru',
       'Subaru', 'Subaru', 'Subaru'],
      dtype='object', length=41144)

We can also pass in a Series.

In [ ]:
city2 = city_mpg.rename(make)
city2

Alfa Romeo    19
Ferrari        9
Dodge         23
Dodge         10
Subaru        17
              ..
Subaru        19
Subaru        20
Subaru        18
Subaru        18
Subaru        16
Name: city08, Length: 41144, dtype: int64

Careful though, passing in a scalar value into .rename will change the .name attribute of the series.

In [ ]:
city2.rename('citympg')

Alfa Romeo    19
Ferrari        9
Dodge         23
Dodge         10
Subaru        17
              ..
Subaru        19
Subaru        20
Subaru        18
Subaru        18
Subaru        16
Name: citympg, Length: 41144, dtype: int64

## 10.2 Resetting the Index

This sets the index to increasing and moved the current index to its own column.

In [ ]:
city2.reset_index()

            index  city08
0      Alfa Romeo      19
1         Ferrari       9
2           Dodge      23
3           Dodge      10
4          Subaru      17
...           ...     ...
41139      Subaru      19
41140      Subaru      20
41141      Subaru      18
41142      Subaru      18
41143      Subaru      16

[41144 rows x 2 columns]

In [ ]:
city2.reset_index(drop=True)

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64

## 10.3 The .loc Attribute

.loc can be used to pull out data using indexing.
The following can be passed into .loc:
* A scalar value of one of the index labels
* A list of index labels
* A slice of labels (closed intervals so it includes the stop values)
* An index
* A boolean array (same index labels as the series but with True or False values)
* A function that accepts a series and returns one of the above

One caveat we need to watch out for with .loc is that it can return a scalar value if only one entry is found. Otherwise, it returns a Series.

In [ ]:
city2.loc['Subaru']

Subaru    17
Subaru    21
Subaru    22
Subaru    19
Subaru    20
          ..
Subaru    19
Subaru    20
Subaru    18
Subaru    18
Subaru    16
Name: city08, Length: 885, dtype: int64

In [ ]:
city2.loc[['Fisker']]

Fisker    20
Name: city08, dtype: int64

In [ ]:
city2.loc[['Ferrari', 'Lamborghini']]

Ferrari         9
Ferrari        12
Ferrari        11
Ferrari        10
Ferrari        11
               ..
Lamborghini     6
Lamborghini     8
Lamborghini     8
Lamborghini     8
Lamborghini     8
Name: city08, Length: 357, dtype: int64

To mitigate this, we can pass in a list rather than a scalar to gaurantee that a series will be returned.

In [ ]:
city2.loc[['Fisker']]

Fisker    20
Name: city08, dtype: int64

In [ ]:
city2.loc[['Fisker', 'Ferrari', 'Lamborghini']]

Fisker         20
Ferrari         9
Ferrari        12
Ferrari        11
Ferrari        10
               ..
Lamborghini     6
Lamborghini     8
Lamborghini     8
Lamborghini     8
Lamborghini     8
Name: city08, Length: 358, dtype: int64

We can slice with string values using string values but we need to sort first. Otherwise, it will throw a keyerror.

In [ ]:
city2.loc['Ferrari': 'Lamborghini']

KeyError: "Cannot get left slice bound for non-unique label: 'Ferrari'"

In [ ]:
city2.sort_index().loc['Ferrari': 'Lamborghini']

Ferrari        10
Ferrari        13
Ferrari        13
Ferrari         9
Ferrari        10
               ..
Lamborghini    12
Lamborghini     9
Lamborghini     8
Lamborghini    13
Lamborghini     8
Name: city08, Length: 11210, dtype: int64

We can also slice based on strings that are not labels. We can can slice on all labels that start with F and go up to index labels G, H, I and up to J.

In [ ]:
city2.sort_index().loc['F':'J']

Federal Coach    15
Federal Coach    13
Federal Coach    13
Federal Coach    14
Federal Coach    13
                 ..
Isuzu            15
Isuzu            15
Isuzu            15
Isuzu            27
Isuzu            18
Name: city08, Length: 9040, dtype: int64

We can create an Index to align a series to a new index.

In [ ]:
idx = pd.Index(['Dodge'])
city2.loc[idx]

Dodge    23
Dodge    10
Dodge    12
Dodge    11
Dodge    11
         ..
Dodge    18
Dodge    17
Dodge    14
Dodge    14
Dodge    11
Name: city08, Length: 2583, dtype: int64

If we duplicate 'Dodge'in the Index, then we get twice as many values.

In [ ]:
idx = pd.Index(['Dodge', 'Dodge'])
city2.loc[idx]

Dodge    23
Dodge    10
Dodge    12
Dodge    11
Dodge    11
         ..
Dodge    18
Dodge    17
Dodge    14
Dodge    14
Dodge    11
Name: city08, Length: 5166, dtype: int64

We can also pass in a boolean array to .loc and it will return only the values where the boolean array was true.

In [ ]:
mask = city2 > 50
mask

Alfa Romeo    False
Ferrari       False
Dodge         False
Dodge         False
Subaru        False
              ...
Subaru        False
Subaru        False
Subaru        False
Subaru        False
Subaru        False
Name: city08, Length: 41144, dtype: bool

In [ ]:
city2.loc[mask]

Nissan     81
Toyota     81
Toyota     81
Ford       74
Nissan     84
         ...
Tesla     140
Tesla     115
Tesla     104
Tesla      98
Toyota     55
Name: city08, Length: 236, dtype: int64

We can pass in functions to .loc which is useful when chaining operations.

In [ ]:
cost = pd.Series([1.00, 2.25, 3.99, .99, 2.79],
        index=['Gum', 'Cookie', 'Melon', 'Roll', 'Carrots'])
inflation = 1.10
(cost.mul(inflation).loc[lambda s_: s_ > 3])

Melon      4.389
Carrots    3.069
dtype: float64

Below, we get a different answer because we calculate the boolean array before taking into account the inflation.

In [ ]:
code = pd.Series([1.00, 2.25, 3.99, .99, 2.79],
        index=['Gum', 'Cookie', 'Melon', 'Roll', 'Carrots'])
inflation = 1.10
mask = cost > 3
(cost.mul(inflation).loc[mask])

Melon    4.389
dtype: float64

## 10.4 The .iloc Attribute

iloc is used when pulling out items by the index position. It supports indexing with the following:
* A scalar index position (an integer)
* A list of index positions
* A slice of positions (half open interval so it does not include stop value)
* A NumPy array (or Python list) of boolean values
* A function that accepts a series and returns one of the above

In [ ]:
city2.iloc[0]

19

In [ ]:
city2.iloc[-1]

16

We can also return a series object with a list of indices.

In [ ]:
city2.iloc[[0, 1, -1]]

Alfa Romeo    19
Ferrari        9
Subaru        16
Name: city08, dtype: int64

iloc also works with slices. They work the same way as they do in Python lists and follow the half-open interval. They include the first index and go up to but do not include the last index.

In [ ]:
city2.iloc[0:5]

Alfa Romeo    19
Ferrari        9
Dodge         23
Dodge         10
Subaru        17
Name: city08, dtype: int64

We can get the last 8 values using negative indexing.

In [ ]:
city2.iloc[-8:]

Saturn    21
Saturn    24
Saturn    21
Subaru    19
Subaru    20
Subaru    18
Subaru    18
Subaru    16
Name: city08, dtype: int64

We can also pass in a list of booleans but if we pass in a pandas series with booleans it will fail.

In [ ]:
mask = city2 > 50
city2.iloc[mask]

NameError: name 'city2' is not defined

We can convert the mask to a NumPy array or python list and iloc will work.

In [ ]:
city2.iloc[mask.to_numpy()]

Nissan     81
Toyota     81
Toyota     81
Ford       74
Nissan     84
         ...
Tesla     140
Tesla     115
Tesla     104
Tesla      98
Toyota     55
Name: city08, Length: 236, dtype: int64

In [ ]:
city2.iloc[list(mask)]

Nissan     81
Toyota     81
Toyota     81
Ford       74
Nissan     84
         ...
Tesla     140
Tesla     115
Tesla     104
Tesla      98
Toyota     55
Name: city08, Length: 236, dtype: int64

## 10.5 Heads and Tails

The .head and .tail methods are useful for pulling out values at the start or end of the series.

In [ ]:
city2.head(3)

Alfa Romeo    19
Ferrari        9
Dodge         23
Name: city08, dtype: int64

In [ ]:
city2.tail(3)

Subaru    18
Subaru    18
Subaru    16
Name: city08, dtype: int64

## 10.6 Sampling

We can pull out random samples of the data. Below we get 6 random samples of the data and pass in 32 as the state. This state allows us to regenerate the same random sample.

In [ ]:
city2.sample(6, random_state=32)

Buick            15
Mercedes-Benz    22
Volkswagen       21
Buick            21
Mercedes-Benz    20
Mazda            28
Name: city08, dtype: int64

## 10.7 Filtering Index Values

The .filter method filters index labels by exact match, substring or regex. Exact match with items fails with duplicate indices.

In [ ]:
city2.filter(items=['Ford', 'Subary'])

ValueError: cannot reindex from a duplicate axis

We can do substring matches

In [ ]:
city2.filter(like='rd')

Ford    18
Ford    16
Ford    17
Ford    17
Ford    15
        ..
Ford    26
Ford    19
Ford    21
Ford    18
Ford    19
Name: city08, Length: 3371, dtype: int64

We can also specify a regular expression to match against the index values.

In [ ]:
city2.filter(regex='(Ford)|(Subary)')

Ford    18
Ford    16
Ford    17
Ford    17
Ford    15
        ..
Ford    26
Ford    19
Ford    21
Ford    18
Ford    19
Name: city08, Length: 3371, dtype: int64

## 10.8 Reindexing

In [ ]:
city2.reindex(['Missing', 'Ford'])

ValueError: cannot reindex from a duplicate axis

Reindexing allows pulling out values by index label.

In [ ]:
city_mpg.reindex([0 ,0 , 10 , 20 , 2_000_000 ])

0          19.0
0          19.0
10         23.0
20         14.0
2000000     NaN
Name: city08, dtype: float64

Reindex is useful if you have two series where they both have portions of index labels that are the same and you want to have one as the index of the other.

In [ ]:
s1 = pd.Series([10 ,20 ,30], index=['a', 'b', 'c'])
s2 = pd.Series([15 ,25 ,35], index=['b', 'c', 'd'])

In [ ]:
s2

b    15
c    25
d    35
dtype: int64

In [ ]:
s2.reindex(s1.index)

a     NaN
b    15.0
c    25.0
dtype: float64

## 10.10 Exercises

1. Inspect the index

In [ ]:
workouts_df.index

RangeIndex(start=0, stop=800, step=1)

2. Sort the index

In [ ]:
workouts_df.sort_index(ascending=False)

,Workout Timestamp,Live/On-Demand,Instructor Name,Length (minutes),Fitness Discipline,Type,Title,Class Timestamp,Total Output,Avg. Watts,Avg. Resistance,Avg. Cadence (RPM),Avg. Speed (mph),Distance (mi),Calories Burned,Avg. Heartrate,Avg. Incline,Avg. Pace (min/mi)
799,2022-02-19 09:05 (-05),Live,Olivia Amato,30,Cycling,Intervals,30 min Intervals & Arms Ride,2022-02-14 07:25 (-05),207.0,115.0,50%,60.0,16.41,8.2,278.0,NaN,NaN,NaN
798,2022-02-18 17:21 (-05),On Demand,Selena Samuela,5,Strength,Core,5 min Core Strength,2022-02-16 09:02 (-05),NaN,NaN,NaN,NaN,NaN,NaN,32.0,107.97,NaN,NaN
797,2022-02-15 19:02 (-05),On Demand,Rad Lopez,20,Strength,Upper Body,20 min Arms & Shoulders Strength,2022-02-12 10:19 (-05),NaN,NaN,NaN,NaN,NaN,NaN,148.0,112.20,NaN,NaN
796,2022-02-15 18:53 (-05),On Demand,Callie Gullickson,5,Strength,Core,5 min Core Strength,2022-02-15 10:00 (-05),NaN,NaN,NaN,NaN,NaN,NaN,22.0,95.29,NaN,NaN
795,2022-02-14 19:10 (-05),On Demand,Rad Lopez,10,Strength,Lower Body,10 min Glutes & Legs Strength,2022-02-05 11:01 (-05),NaN,NaN,NaN,NaN,NaN,NaN,70.0,110.07,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2021-01-04 19:12 (EST),On Demand,Ben Alldis,20,Strength,Full Body,20 min Full Body Strength,2021-01-04 01:00 (EST),NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN
3,2021-01-03 19:52 (EST),On Demand,Matty Maggiacomo,30,Strength,Full Body,30 min Calvin Harris Full Body Strength,2020-12-31 09:00 (EST),NaN,NaN,NaN,NaN,NaN,NaN,151.0,NaN,NaN,NaN
2,2020-12-23 17:12 (EST),On Demand,Jess Sims,20,Strength,Bodyweight,20 min Year of Yes Bodyweight Strength,2020-12-21 10:00 (EST),NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN
1,2020-12-15 21:49 (EST),On Demand,Cody Rigsby,10,Strength,Arms & Light Weights,10 min Arms Toning,2020-12-15 20:06 (EST),NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
0,2020-12-15 21:39 (EST),On Demand,Olivia Amato,15,Cardio,Music HIIT,15 min Pop HIIT Cardio,2020-12-15 12:28 (EST),NaN,NaN,NaN,NaN,NaN,NaN,19.0,NaN,NaN,NaN

3. Set the index to monotonically increasing integers starting from 0

In [ ]:
workouts_df.reset_index()
workouts_df

,index,Workout Timestamp,Live/On-Demand,Instructor Name,Length (minutes),Fitness Discipline,Type,Title,Class Timestamp,Total Output,Avg. Watts,Avg. Resistance,Avg. Cadence (RPM),Avg. Speed (mph),Distance (mi),Calories Burned,Avg. Heartrate,Avg. Incline,Avg. Pace (min/mi)
0,0,2020-12-15 21:39 (EST),On Demand,Olivia Amato,15,Cardio,Music HIIT,15 min Pop HIIT Cardio,2020-12-15 12:28 (EST),NaN,NaN,NaN,NaN,NaN,NaN,19.0,NaN,NaN,NaN
1,1,2020-12-15 21:49 (EST),On Demand,Cody Rigsby,10,Strength,Arms & Light Weights,10 min Arms Toning,2020-12-15 20:06 (EST),NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
2,2,2020-12-23 17:12 (EST),On Demand,Jess Sims,20,Strength,Bodyweight,20 min Year of Yes Bodyweight Strength,2020-12-21 10:00 (EST),NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN
3,3,2021-01-03 19:52 (EST),On Demand,Matty Maggiacomo,30,Strength,Full Body,30 min Calvin Harris Full Body Strength,2020-12-31 09:00 (EST),NaN,NaN,NaN,NaN,NaN,NaN,151.0,NaN,NaN,NaN
4,4,2021-01-04 19:12 (EST),On Demand,Ben Alldis,20,Strength,Full Body,20 min Full Body Strength,2021-01-04 01:00 (EST),NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,795,2022-02-14 19:10 (-05),On Demand,Rad Lopez,10,Strength,Lower Body,10 min Glutes & Legs Strength,2022-02-05 11:01 (-05),NaN,NaN,NaN,NaN,NaN,NaN,70.0,110.07,NaN,NaN
796,796,2022-02-15 18:53 (-05),On Demand,Callie Gullickson,5,Strength,Core,5 min Core Strength,2022-02-15 10:00 (-05),NaN,NaN,NaN,NaN,NaN,NaN,22.0,95.29,NaN,NaN
797,797,2022-02-15 19:02 (-05),On Demand,Rad Lopez,20,Strength,Upper Body,20 min Arms & Shoulders Strength,2022-02-12 10:19 (-05),NaN,NaN,NaN,NaN,NaN,NaN,148.0,112.20,NaN,NaN
798,798,2022-02-18 17:21 (-05),On Demand,Selena Samuela,5,Strength,Core,5 min Core Strength,2022-02-16 09:02 (-05),NaN,NaN,NaN,NaN,NaN,NaN,32.0,107.97,NaN,NaN
799,799,2022-02-19 09:05 (-05),Live,Olivia Amato,30,Cycling,Intervals,30 min Intervals & Arms Ride,2022-02-14 07:25 (-05),207.0,115.0,50%,60.0,16.41,8.2,278.0,NaN,NaN,NaN

4. Set the index to monotonically increasing integers starting from 0, then convert these to the string version. Save this as s2.

In [ ]:
s2 = workouts_df['Total Output'].reset_index()
s2.index = s2.index.astype(str)
s2

     index  Total Output
0        0           NaN
1        1           NaN
2        2           NaN
3        3           NaN
4        4           NaN
..     ...           ...
795    795           NaN
796    796           NaN
797    797           NaN
798    798           NaN
799    799         207.0

[800 rows x 2 columns]

5. Using s2, pull out the first 5 entries.

In [ ]:
s2.head()

   index  Total Output
0      0           NaN
1      1           NaN
2      2           NaN
3      3           NaN
4      4           NaN

6. Using s2, pull out the last 5 entries.

In [ ]:
s2.tail()

     index  Total Output
795    795           NaN
796    796           NaN
797    797           NaN
798    798           NaN
799    799         207.0

7. Using s2, pull out one hundred entries starting at index position 10.

In [ ]:
s2[10:].head(100)

     index  Total Output
10      10           NaN
11      11          30.0
12      12          97.0
13      13         314.0
14      14           NaN
..     ...           ...
105    105          24.0
106    106           NaN
107    107         174.0
108    108          27.0
109    109           NaN

[100 rows x 2 columns]

8. Using s2, create a series with values with index entries '20', '10', and '2'.

In [ ]:
s2.reindex([20,10,2])

    index  Total Output
20    NaN           NaN
10    NaN           NaN
2     NaN           NaN

# Chapter 11
## 11.1 Strings and Objects

The *make* column has an object type by default.

In [ ]:
make

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: object

It can be converted into a string using **.astype**.

In [ ]:
make.astype('string')

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: string

The difference between 'string' type and strings stored as object and category types is that the string method returns the nullable type when you use a 'string' series.

## 11.2 Categorical Strings

It is recommended to use categorical types when you have low cardinality string columns as it results in memory savings and performance improvements since the operations only need to be done on the categories and not the values in the series.

In [ ]:
make.astype('category')

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: category
Categories (136, object): ['AM General', 'ASC Incorporated', 'Acura', 'Alfa Romeo', ..., 'Volvo', 'Wallace Environmental', 'Yugo', 'smart']

## 11.3 The .str accessor

'string' and 'category' types have the .str accessor which provides access to Python string methods.

In [ ]:
'Ford'.lower()

'ford'

In [ ]:
make.str.lower()

0        alfa romeo
1           ferrari
2             dodge
3             dodge
4            subaru
            ...
41139        subaru
41140        subaru
41141        subaru
41142        subaru
41143        subaru
Name: make, Length: 41144, dtype: object

Another useful method is .find()

In [ ]:
'Alfa Romero'.find('A')

0

Here is the pandas version.

In [ ]:
%timeit make.astype('category').str.find('A')

2.23 ms Â± 114 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

In [ ]:
%timeit make.str.find('A')

11.6 ms Â± 233 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

## 11.4 Searching
We have a few methods for leveraging regular expressions to perform searching, replacing and splitting.

We can find all non alphabetic characters disregarding space

In [ ]:
make.str.extract(r'([^a-z A-Z])')

         0
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
...    ...
41139  NaN
41140  NaN
41141  NaN
41142  NaN
41143  NaN

[41144 rows x 1 columns]

We can use chaining to view the count of non-missing values.

In [ ]:
(make.str.extract(r'([^a-z A-Z])', expand=False).value_counts())

-    1727
.      46
,       9
Name: make, dtype: int64

One useful tip is to find non numeric characters from reading a csv file. Once you have diagnosed bad actors, you can drop or replace them to convert the column into the appropriate type.

In [ ]:
(make.str.extract(r'([^0-9.])', expand=False).value_counts())

C    5336
M    4833
F    3686
B    2796
G    2691
D    2679
P    2589
S    2234
T    2159
V    2001
H    1803
A    1610
N    1471
J    1435
L    1241
I     860
K     618
O     462
R     392
E     167
s      38
W      32
Y       8
Q       3
Name: make, dtype: int64

## 11.5 Splitting

Sometimes with survey data we get binned numeric values. The survey may have had a drop down of different ranges. It may have had age ranges and those results come in with a dash.

In order to perform math operations on the data, we can pull out values that are not dashes.

In [ ]:
age = pd.Series(['0-10', '11-15', '11-15', '61-65', '46-50'])
age

0     0-10
1    11-15
2    11-15
3    61-65
4    46-50
dtype: object

In [ ]:
age.str.split('-')

0     [0, 10]
1    [11, 15]
2    [11, 15]
3    [61, 65]
4    [46, 50]
dtype: object

We can use just the first value in the dataframe column by chaining together with the iloc operation and convert strings to integers with the .astype() method.

In [ ]:
(age.str.split('-', expand=True).iloc[:,0].astype('int'))

0     0
1    11
2    11
3    61
4    46
Name: 0, dtype: int64

However, our data gets biased towards the low side of the range. You can use the .islice method to just use the tail end of the binned value.

In [ ]:
(age.str.slice(-2).astype('int'))

0    10
1    15
2    15
3    65
4    50
dtype: int64

In [ ]:
(age.str[-2:].astype('int'))

0    10
1    15
2    15
3    65
4    50
dtype: int64

We can also take the average of the bin ranges. The code below converts columns to numbers and applies the .mean method across each row.

In [ ]:
(age.str.split('-', expand=True).astype(int).mean(axis='columns'))

0     5.0
1    13.0
2    13.0
3    63.0
4    48.0
dtype: float64

If you want to get a random number between the ranges you can use the ranint method as shown below.

In [ ]:
import random
def between(row):
    return random.randint(*row.values)

(age.str.split('-', expand=True).astype(int).apply(between, axis='columns'))

0     2
1    13
2    13
3    61
4    49
dtype: int64

## 11.6 Optimizing .apply with Cython

We can use cython to speed up the apply method.

In [ ]:
%timeit (age.str.split('-', expand=True).astype(int).apply(between, axis='columns'))

467 Âµs Â± 27.5 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)

In [ ]:
%load_ext Cython

The Cython extension is already loaded. To reload it, use:
  %reload_ext Cython

In [ ]:
%%cython
import random
def between_cy(row):
    return random.randint(*row.values)

In [ ]:
%timeit (age.str.split('-', expand=True).astype(int).apply(between_cy, axis='columns'))

496 Âµs Â± 8.92 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)

between_cy does not seem faster than our current code. If we add types to the Cython code then we can get a speed increase.

In [ ]:
%%cython
import random
cpdef int between_cy_3(int x, int y):
    return random.randint(x, y)

In [ ]:
%timeit (age.str.split('-', expand=True).astype(int).apply(lambda row: between_cy_3(row[0], row[1]), axis=1))

476 Âµs Â± 27.5 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)

In [ ]:
%prun -l 10 (age.str.split('-', expand=True).astype(int).apply(lambda row: between_cy_3(row[0], row[1]), axis=1))

         1681 function calls (1662 primitive calls) in 0.002 seconds

   Ordered by: internal time
   List reduced from 308 to 10 due to restriction <10>

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.000    0.000    0.002    0.002 {built-in method builtins.exec}
      327    0.000    0.000    0.000    0.000 {built-in method builtins.isinstance}
        4    0.000    0.000    0.000    0.000 {pandas._libs.lib.maybe_convert_objects}
        1    0.000    0.000    0.000    0.000 missing.py:259(_isna_string_dtype)
    20/19    0.000    0.000    0.000    0.000 {built-in method numpy.array}
        1    0.000    0.000    0.000    0.000 {pandas._libs.lib.map_infer_mask}
       10    0.000    0.000    0.000    0.000 series.py:928(__getitem__)
      3/2    0.000    0.000    0.000    0.000 series.py:315(__init__)
      2/1    0.000    0.000    0.000    0.000 cast.py:1072(astype_nansafe)
        2    0.000    0.000    0.000    0.000 {method 'reduce' of 'numpy.ufunc' objects}

In [ ]:
%%cython
cimport numpy as np
import numpy as np
import random
cpdef np.ndarray[int] apply_between_cy4(np.ndarray[int] x, np.ndarray[int] y):
    cdef np.ndarray[int] res = np.empty(len(x), dtype='int32')
    for i in range(len(x)):
        res[i] = random.randint(x[i], y[i])
    return res

In file included from /home/jose/anaconda3/lib/python3.9/site-packages/numpy/core/include/numpy/ndarraytypes.h:1944,
                 from /home/jose/anaconda3/lib/python3.9/site-packages/numpy/core/include/numpy/ndarrayobject.h:12,
                 from /home/jose/anaconda3/lib/python3.9/site-packages/numpy/core/include/numpy/arrayobject.h:4,
                 from /home/jose/.cache/ipython/cython/_cython_magic_2ce2d6826cd800b5e5404a81ba3b13c6.c:648:
/home/jose/anaconda3/lib/python3.9/site-packages/numpy/core/include/numpy/npy_1_7_deprecated_api.h:17:2: warning: #warning "Using deprecated NumPy API, disable it with " "#define NPY_NO_DEPRECATED_API NPY_1_7_API_VERSION" [-Wcpp]
   17 | #warning "Using deprecated NumPy API, disable it with " \
      |  ^~~~~~~

In [ ]:
%timeit (age.str.split('-', expand=True).astype(int).pipe(lambda df_: apply_between_cy4(df_.iloc[:, 0].to_numpy(dtype='int32'), df_.iloc[:, 1].to_numpy(dtype='int32'))))

367 Âµs Â± 17.5 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)

## 11.7 Replacing Text

Both the series and .str attribute have a .replace method and these methods have overlapping functionality. We can use .str.replace to replace single characters.

In [ ]:
make.str.replace('A', 'Ã…')

0        Ã…lfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: object

Calling replace on the whole series, however, searches for the whole word.

In [ ]:
make.replace('A', 'Ã…')

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: object

Dictionaries can be passed to specify complete replacements. This is super explicit but is problematic if you had lots of values with dashes to them.

In [ ]:
make.replace({'Audi': ' Ã…udi', ' Acura': ' Ã…cura' , 'Ashton Martin': 'Ã…shton Martin' , 'Alfa Romeo': 'Ã…lfa Romeo'})

0        Ã…lfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: object

In [ ]:
make.replace('A', 'Ã…', regex=True)

0        Ã…lfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: object

Note: In pandas we often refer to vectorized operations. Pandas is not well optimized for dealing with strings so string operations are not vectorized. This is one place where using .apply might not make much difference.

## 11.9 Exercises

1. Using a string column, lowercase the values.

In [ ]:
workouts_df['Instructor Name'].str.lower()

0           olivia amato
1            cody rigsby
2              jess sims
3       matty maggiacomo
4             ben alldis
             ...
795            rad lopez
796    callie gullickson
797            rad lopez
798       selena samuela
799         olivia amato
Name: Instructor Name, Length: 800, dtype: object

2. Using a string column, slice out the first character.

In [ ]:
workouts_df['Instructor Name'].str[0]

0      O
1      C
2      J
3      M
4      B
      ..
795    R
796    C
797    R
798    S
799    O
Name: Instructor Name, Length: 800, dtype: object

3. Using a string column, slice out the last three characters.

In [ ]:
workouts_df['Instructor Name'].str[-3:]

0      ato
1      sby
2      ims
3      omo
4      dis
      ...
795    pez
796    son
797    pez
798    ela
799    ato
Name: Instructor Name, Length: 800, dtype: object

4. Using a string column, create a series extracting the numeric values.

In [ ]:
workouts_df['Title'].str.extract(r'([0-9]+)', expand=False)

0      15
1      10
2      20
3      30
4      20
       ..
795    10
796     5
797    20
798     5
799    30
Name: Title, Length: 800, dtype: object

5. Using a string column, create a series extracting the non-ASCII values.

In [ ]:
workouts_df['Title'].str.encode('ascii', errors='ignore')

NameError: name 'workouts_df' is not defined

6. Using a string column, create a dataframe with the dummy columns for every character in
the column.

In [50]:
workouts_df['Instructor Name'].str.get_dummies(sep='|')

,Aditi Shah,Adrian Williams,Alex Toussaint,Ally Love,Andy Speer,Anna Greenberg,Becs Gentry,Ben Alldis,Bradley Rose,Callie Gullickson,...,Matty & Olivia,Matty Maggiacomo,Olivia Amato,Rad Lopez,Rebecca Kennedy,Robin Arzon,Ross Rayburn,Sam Yo,Selena Samuela,Tunde Oyeneyin
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
750,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
751,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
752,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
753,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

## Chapter 12: Date and Time Manipulation

### 12.2 Loading UTC Time Data

In [51]:
col = pd.Series([ '2015-03-08 08:00:00+00:00',
'2015-03-08 08:30:00+00:00',
'2015-03-08 09:00:00+00:00',
'2015-03-08 09:30:00+00:00',
'2015-11-01 06:30:00+00:00',
'2015-11-01 07:00:00+00:00',
'2015-11-01 07:30:00+00:00',
'2015-11-01 08:00:00+00:00',
'2015-11-01 08:30:00+00:00',
'2015-11-01 08:00:00+00:00',
'2015-11-01 08:30:00+00:00',
'2015-11-01 09:00:00+00:00',
'2015-11-01 09:30:00+00:00',
'2015-11-01 10:00:00+00:00'])

In [52]:
utc_s = pd.to_datetime(col, utc=True)
utc_s

0    2015-03-08 08:00:00+00:00
1    2015-03-08 08:30:00+00:00
2    2015-03-08 09:00:00+00:00
3    2015-03-08 09:30:00+00:00
4    2015-11-01 06:30:00+00:00
5    2015-11-01 07:00:00+00:00
6    2015-11-01 07:30:00+00:00
7    2015-11-01 08:00:00+00:00
8    2015-11-01 08:30:00+00:00
9    2015-11-01 08:00:00+00:00
10   2015-11-01 08:30:00+00:00
11   2015-11-01 09:00:00+00:00
12   2015-11-01 09:30:00+00:00
13   2015-11-01 10:00:00+00:00
dtype: datetime64[ns, UTC]

Once we have the series as a datetime64[ns] object, we can leverage the .dt attribute to convert the timezone.

In [53]:
utc_s.dt.tz_convert('America/Denver')

0    2015-03-08 01:00:00-07:00
1    2015-03-08 01:30:00-07:00
2    2015-03-08 03:00:00-06:00
3    2015-03-08 03:30:00-06:00
4    2015-11-01 00:30:00-06:00
5    2015-11-01 01:00:00-06:00
6    2015-11-01 01:30:00-06:00
7    2015-11-01 01:00:00-07:00
8    2015-11-01 01:30:00-07:00
9    2015-11-01 01:00:00-07:00
10   2015-11-01 01:30:00-07:00
11   2015-11-01 02:00:00-07:00
12   2015-11-01 02:30:00-07:00
13   2015-11-01 03:00:00-07:00
dtype: datetime64[ns, America/Denver]

In [54]:
s = pd . Series (['2015 -03 -08 01:00:00 -07:00',
'2015 -03 -08 01:30:00 -07:00' ,
'2015 -03 -08 03:00:00 -06:00' ,
'2015 -03 -08 03:30:00 -06:00' ,
'2015 -11 -01 00:30:00 -06:00' ,
'2015 -11 -01 01:00:00 -06:00' ,
'2015 -11 -01 01:30:00 -06:00' ,
'2015 -11 -01 01:00:00 -07:00' ,
'2015 -11 -01 01:30:00 -07:00' ,
'2015 -11 -01 01:00:00 -07:00' ,
'2015 -11 -01 01:30:00 -07:00' ,
'2015 -11 -01 02:00:00 -07:00'  ,
'2015 -11 -01 02:30:00 -07:00' ,
'2015 -11 -01 03:00:00 -07:00'])

In [55]:
pd.to_datetime(s, utc=True).dt.tz_convert('America/Denver')

0    2015-03-08 01:00:00-07:00
1    2015-03-08 01:30:00-07:00
2    2015-03-08 03:00:00-06:00
3    2015-03-08 03:30:00-06:00
4    2015-11-01 00:30:00-06:00
5    2015-11-01 01:00:00-06:00
6    2015-11-01 01:30:00-06:00
7    2015-11-01 01:00:00-07:00
8    2015-11-01 01:30:00-07:00
9    2015-11-01 01:00:00-07:00
10   2015-11-01 01:30:00-07:00
11   2015-11-01 02:00:00-07:00
12   2015-11-01 02:30:00-07:00
13   2015-11-01 03:00:00-07:00
dtype: datetime64[ns, America/Denver]

In [56]:
pd.to_datetime(s, utc=True).dt.tz_convert('America/Denver')

0    2015-03-08 01:00:00-07:00
1    2015-03-08 01:30:00-07:00
2    2015-03-08 03:00:00-06:00
3    2015-03-08 03:30:00-06:00
4    2015-11-01 00:30:00-06:00
5    2015-11-01 01:00:00-06:00
6    2015-11-01 01:30:00-06:00
7    2015-11-01 01:00:00-07:00
8    2015-11-01 01:30:00-07:00
9    2015-11-01 01:00:00-07:00
10   2015-11-01 01:30:00-07:00
11   2015-11-01 02:00:00-07:00
12   2015-11-01 02:30:00-07:00
13   2015-11-01 03:00:00-07:00
dtype: datetime64[ns, America/Denver]

## 12.3 Loading Local Time Data

If we want to load local date and time information, we need the date, offset and timezone

In [57]:
time = pd.Series (['2015-03-08 01:00:00',
'2015-03-08 01:30:00' ,
'2015-03-08 02:00:00' ,
'2015-03-08 02:30:00' ,
'2015-03-08 03:00:00' ,
'2015-03-08 02:00:00' ,
'2015-03-08 02:30:00' ,
'2015-03-08 03:00:00' ,
'2015-03-08 03:30:00' ,
'2015-11-01 00:30:00' ,
'2015-11-01 01:00:00' ,
'2015-11-01 01:30:00' ,
'2015-11-01 02:00:00' ,
'2015-11-01 02:30:00' ,
'2015-11-01 01:00:00' ,
'2015-11-01 01:30:00' ,
'2015-11-01 02:00:00' ,
'2015-11-01 02:30:00' ,
'2015-11-01 03:00:00'])

In [58]:
offset = pd.Series([-7, -7, -7, -7, -7, -6, -6, -6, -6, -6, -6, -6, -6, -6, -7, -7, -7, -7, -7])

We can apply a series of offsets to the series using .groupby and .transform. The idea is to group the dates from onee offset togetheer and we call .dt_tz_localize on them. We repeat this for each offset. The .transform method allows for working on a grroup and returning the result in original length of the grouped object.

In [59]:
(pd.to_datetime(time)
.groupby (offset)
.transform(lambda s : s.dt.tz_localize(s.name)
.dt.tz_convert('America/Denver'))
)

0    2015-03-07 18:00:07-07:00
1    2015-03-07 18:30:07-07:00
2    2015-03-07 19:00:07-07:00
3    2015-03-07 19:30:07-07:00
4    2015-03-07 20:00:07-07:00
5    2015-03-07 19:00:06-07:00
6    2015-03-07 19:30:06-07:00
7    2015-03-07 20:00:06-07:00
8    2015-03-07 20:30:06-07:00
9    2015-10-31 18:30:06-06:00
10   2015-10-31 19:00:06-06:00
11   2015-10-31 19:30:06-06:00
12   2015-10-31 20:00:06-06:00
13   2015-10-31 20:30:06-06:00
14   2015-10-31 19:00:07-06:00
15   2015-10-31 19:30:07-06:00
16   2015-10-31 20:00:07-06:00
17   2015-10-31 20:30:07-06:00
18   2015-10-31 21:00:07-06:00
dtype: datetime64[ns, America/Denver]

This moved the minute offset instead of the hours. To change the hours we need to use different ofsets.

In [61]:
offset = offset.replace({-7: '-07:00', -6: '-06:00'})
local = (pd.to_datetime(time).groupby(offset).transform(lambda s: s.dt.tz_localize(s.name).dt.tz_convert('America/Denver')))
local

0    2015-03-08 01:00:00-07:00
1    2015-03-08 01:30:00-07:00
2    2015-03-08 03:00:00-06:00
3    2015-03-08 03:30:00-06:00
4    2015-03-08 04:00:00-06:00
5    2015-03-08 01:00:00-07:00
6    2015-03-08 01:30:00-07:00
7    2015-03-08 03:00:00-06:00
8    2015-03-08 03:30:00-06:00
9    2015-11-01 00:30:00-06:00
10   2015-11-01 01:00:00-06:00
11   2015-11-01 01:30:00-06:00
12   2015-11-01 01:00:00-07:00
13   2015-11-01 01:30:00-07:00
14   2015-11-01 01:00:00-07:00
15   2015-11-01 01:30:00-07:00
16   2015-11-01 02:00:00-07:00
17   2015-11-01 02:30:00-07:00
18   2015-11-01 03:00:00-07:00
dtype: datetime64[ns, America/Denver]

## 12.4 Converting Local Time to UTC

We can convert dates stored as datetime64[ns] objects to UTC using the .dt_tz_convert method.

In [62]:
local.dt.tz_convert('UTC')

0    2015-03-08 08:00:00+00:00
1    2015-03-08 08:30:00+00:00
2    2015-03-08 09:00:00+00:00
3    2015-03-08 09:30:00+00:00
4    2015-03-08 10:00:00+00:00
5    2015-03-08 08:00:00+00:00
6    2015-03-08 08:30:00+00:00
7    2015-03-08 09:00:00+00:00
8    2015-03-08 09:30:00+00:00
9    2015-11-01 06:30:00+00:00
10   2015-11-01 07:00:00+00:00
11   2015-11-01 07:30:00+00:00
12   2015-11-01 08:00:00+00:00
13   2015-11-01 08:30:00+00:00
14   2015-11-01 08:00:00+00:00
15   2015-11-01 08:30:00+00:00
16   2015-11-01 09:00:00+00:00
17   2015-11-01 09:30:00+00:00
18   2015-11-01 10:00:00+00:00
dtype: datetime64[ns, UTC]

## 12.5 Converting to Epochs

We can go from UTC or local time to UNIX epocs using this code.

In [63]:
secs = local.view(int).floordiv(1e9).astype(int)
secs

0     1425801600
1     1425803400
2     1425805200
3     1425807000
4     1425808800
5     1425801600
6     1425803400
7     1425805200
8     1425807000
9     1446359400
10    1446361200
11    1446363000
12    1446364800
13    1446366600
14    1446364800
15    1446366600
16    1446368400
17    1446370200
18    1446372000
dtype: int64

To load epoch information into UTC we need to use the following

In [65]:
(pd.to_datetime(secs, unit='s').dt.tz_localize('UTC'))

0    2015-03-08 08:00:00+00:00
1    2015-03-08 08:30:00+00:00
2    2015-03-08 09:00:00+00:00
3    2015-03-08 09:30:00+00:00
4    2015-03-08 10:00:00+00:00
5    2015-03-08 08:00:00+00:00
6    2015-03-08 08:30:00+00:00
7    2015-03-08 09:00:00+00:00
8    2015-03-08 09:30:00+00:00
9    2015-11-01 06:30:00+00:00
10   2015-11-01 07:00:00+00:00
11   2015-11-01 07:30:00+00:00
12   2015-11-01 08:00:00+00:00
13   2015-11-01 08:30:00+00:00
14   2015-11-01 08:00:00+00:00
15   2015-11-01 08:30:00+00:00
16   2015-11-01 09:00:00+00:00
17   2015-11-01 09:30:00+00:00
18   2015-11-01 10:00:00+00:00
dtype: datetime64[ns, UTC]

## 12.6 Manipulating Dats

In [67]:
url = 'https://github.com/mattharrison/datasets/raw/master/data/alta-noaa-1980-2019.csv'
alta_df = pd.read_csv(url)
dates = pd.to_datetime(alta_df.DATE)
dates